{
  // 此项指明，转码的规则
  "presets": ["@vue/app"]
  // "presets": [["@babel/preset-env", { "modules": false }]],
  // 引用插件来处理代码的转换
  // "plugins": [
  //   [
  //     "component",
  //     {
  //       "libraryName": "element-ui",
  //       "styleLibraryName": "theme-chalk"
  //     }
  //   ]
  // ]
  // 下面指的是在生成的文件中，不产生注释
  // "comments": false
}